[user]
	name = Alan Jug
	email = fajw55@gmail.com
[core]
	autocrlf = false
	longpaths = true
[pull]
	ff = only
[maintenance]
	repo = /home/alanj/Projects/checkout-tools
  repo = /home/alanj/Projects/appshell-checkout
	repo = /home/alanj/Projects/ori-ui
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[includeIf "gitdir:~/Projects/"]
  path = ~/.gitconfig-ori
[credential "https://github.com"]
	username = fajw55
